<div class="container" id="site_info">
    <div class="box">
		<p style="font-family: Arial, Helvetica, sans-serif; font-size: x-small">FollowPeers(c) 2013, is a Final Year Project by Geetika, Sasha, Shivam & Shruti under Dr Xu Yong Ping, CEG Department, National University of Singapore. Read our <a href="#">Privacy Policy</a> & <a href="#"> Terms of Use</a>.</p>
    </div>
</div>
<div class="clear"></div>
