@{
    FollowPeers.Models.FollowPeersDBEntities followPeersDB = new FollowPeers.Models.FollowPeersDBEntities();
    string name = Membership.GetUser().UserName;
    FollowPeers.Models.UserProfile myprofile = followPeersDB.UserProfiles.SingleOrDefault(p => p.UserName == name);

    <div class="grid_3">
        <div class="box">
            <h2>Publication Center</h2>
                <div class="block">
                    <ul class="menu">

                        <li><a href="../../PublicationModel/Index">
                        <img src="../../Content/images/icons/16x16/advanced_data_grid.png" />Publication Db</a></li>

                        <li><a href="../../PublicationModel/Create">
                        <img src="../../Content/images/icons/16x16/add.png" />Add Publication</a></li>

                        <li><a href="#">
                        <img src="../../Content/images/icons/16x16/book_link.png" />Bookmark</a></li>

                        <li><a href="../../PublicationModel/PublicationSearch/Search?SearchString=">
                        <img src="../../Content/images/icons/16x16/wrench_orange.png" />Search</a></li>
             </div>
        </div>
    </div>
}