@{
    FollowPeers.Models.FollowPeersDBEntities followPeersDB = new FollowPeers.Models.FollowPeersDBEntities();
    string name = Membership.GetUser().UserName;
    FollowPeers.Models.UserProfile myprofile = followPeersDB.UserProfiles.SingleOrDefault(p => p.UserName == name);

<div class="grid_3">
    <div class="box">
        <h2>
            Bookmarked Items</h2>
        <div class="block">
            <ul class="menu">
           
                <li><a href="../../Profile/ViewBookmarkPublications">
                    <img src="../../Content/images/icons/16x16/blogs.png" />Publications</a></li>
                <li><a href="../../Profile/ViewBookmarkPatents">
                    <img src="../../Content/images/icons/16x16/brain.png" />Patents</a></li>
                <li><a href="../../Profile/ViewBookmarkJobs">
                    <img src="../../Content/images/icons/16x16/briefcase.png" />Jobs</a></li>
                
            </ul>
        </div>
    </div>
</div>
    }
