@model IEnumerable<FollowPeers.Models.UserProfile>
@using FollowPeers.Models;
@Html.Partial("_Header")
@Html.Partial("_SideBar1")
<div class="container" id="main">
<ul class="nav nav-tabs">               
                    <li id="li_tab1" onclick="tab('tab1')"><a>Jobs Home</a></li>
                    <li id="li_tab2" onclick="tab('tab2')"><a>Applied Jobs</a></li>
                    <li id="li_tab3" onclick="tab('tab3')"><a>Saved Jobs</a></li>
                    <li id="li_tab4" onclick="tab('tab4')"><a>Uploaded Jobs</a></li>
                </ul>
                <div id="Content_Area" class="tab-content">
                    <div id="tab2" style="display: none;" class="tab-pane" >
                        <p>This is the text for tab 2.</p>
                    </div>
                    <div id="tab3" style="display: none;" class="tab-pane" >
                        <p>You havent like any recommendations</p>
                    </div>
                    <div id="tab4" style="display: none;" class="tab-pane" >
                        <p>This is the text for tab 4.</p>
                    </div>
                    <div id="tab1" style="display: none;" class="tab-pane" >
                        <p>This is the text for tab 1.</p>
                    </div>
                </div>
</div>

<script type="text/javascript">
    function tab(tab) {
        document.getElementById('tab1').style.display = 'none';
        document.getElementById('tab2').style.display = 'none';
        document.getElementById('tab3').style.display = 'none';
        document.getElementById('tab4').style.display = 'none';
        document.getElementById('li_tab1').setAttribute("class", "");
        document.getElementById('li_tab2').setAttribute("class", "");
        document.getElementById('li_tab3').setAttribute("class", "");
        document.getElementById('li_tab4').setAttribute("class", "");
        document.getElementById(tab).style.display = 'block';
        document.getElementById('li_' + tab).setAttribute("class", "active");
    }
</script>
</script>

